header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-1);
  background-color: white;
  box-shadow: 3px 3px 6px var(--shadow-tint);
}
header button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  padding: var(--spacing-2) var(--spacing-1);
  cursor: pointer;
  border: none;
  border-radius: var(--radius);
  font-weight: 500;
  color: var(--dim);
  background-color: white;
}
header button svg {
  height: 1rem;
  fill: var(--dim);
}
header button:hover {
  color: var(--dark);
  background-color: var(--light-tint);
}
header button:hover svg {
  fill: var(--dark);
}

section {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-1);
  width: 100%;
  height: calc(100vh - 60px);
  padding: var(--spacing-1);
}
.qr-wrapper {
  width: 10rem;
  padding: var(--spacing);
  background-color: white;
  border-radius: var(--radius);
  box-shadow: 3px 3px 6px var(--shadow-tint);
}
.qr-wrapper h3 {
  margin-top: var(--spacing-1);
  font-weight: 600;
  font-size: var(--text-r);
  line-height: 1;
}
